@import "variables";


.brews__right{
  overflow: auto;
  display: flex;
  align-items: center;
}


.brews__beer{
  display: flex;
  flex-direction: column;
  align-items: center;
  .brews__image{
    width: 45vh;
    height: 45vh;
  }
  img{
    width: 100%;
    height: 100%;
  }
}