.container{
   width: 80vw;
   margin-left: 10vw;
   margin-right: 10vw;
}



.nav{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding-top: 4vh;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color2;


}



.logo {
    width: 15vh;
    filter: invert(32%) sepia(4%) saturate(75%) hue-rotate(314deg) brightness(85%) contrast(85%);
}    


.nav__nav{
    display: flex;

   a {
       text-decoration: none;
        color:  $color3;
          &:hover {
        color: white;
    }

   } 

    li{
        list-style: none;
        padding-left: 2rem;
        text-decoration: none;
        font-family: $nonGotic;
    }

}


.nav__center{
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: $color3;
    font-family: $nonGotic;
    height: 80vh;


}

.nav__center__main2 {
    h1{
        font-family: $gotic2;
        font-size: 4rem;
        font-weight: 100;
        color: $color2;
    }
}


.nav__center__main1 {
    h2{
        font-family: $gotic2;
        font-size: 3rem;
        font-weight: 100;
        color: $color2;
    }
}




.nav__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color3;
    font-family: $nonGotic;
    text-align: center;
    height: 4vh;
    padding-bottom: 2vh;

    h2{
        font-family: $nonGotic;
        font-size: 1.5rem;
        font-weight: 100;
        color: $color3;
    }
}




.footer{
    display: flex;
    justify-content: space-between;

    .footer__addr{
        display: flex;
        align-items: center;

        h5{
        font-size: 1.5rem;
        color: $color3;
        font-family: $nonGotic;
        font-weight: 100;
        }
    }
}

.socialbtns__cont{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

   a {
       text-decoration: none;
        color:  $color3;
          &:hover {
        color: white;
    }

   } 

    li{
        list-style: none;
        padding-left: 2rem;
        text-decoration: none;
        font-family: $nonGotic;
        font-size: 2rem;
    }

}

.high{
    color: $color3;
}







@media screen and (max-width: 768px){ 
    .nav{
        padding-left: 1vh;
        padding-right: 1vh;
    }
  .nav__nav{
      li{
          font-size: 1.2rem;
          padding-left: 0.8rem;
      }
  } 

  .nav__center__main2{
      h1{
        font-size: 2.5rem;
        }
}

  .nav__center__main1{
      h2{
        font-size: 1rem;
        }
}

    .nav__bottom{
        h2{
            font-size: 1rem;
        }
    }

    .footer{
        text-align: center;
        align-items: center;
        justify-content: center;

    .footer__addr{
        h5{
            font-size: 1.3rem;
        }
    }
    }

    .socialbtns__cont{
        li{
            font-size: 2.3rem;
            padding-left: 1rem;
        }
    }

}




@media screen and (max-width: 1296px){
    .container{
        width: 100vw;
        margin: 0;
    }

    .nav__nav {
        flex-wrap: wrap;
    }


    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 



}


