/* @font-face {
    font-family: Andalus;
    src:url("/fonts/Andalus.ttf");
};


@font-face {
    font-family: Goth2;
    src:url("/fonts/CloisterBlack.ttf");
};
 */


@font-face {
    font-family: 'cloister_blacklight';
    src: url('/fonts/cloisterblack-webfont.woff2') format('woff2'),
         url('/fonts/cloisterblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'andalusregular';
    src: url('/fonts/andalus-webfont.woff2') format('woff2'),
         url('/fonts/andalus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$gotic2: cloister_blacklight;
$nonGotic: andalusregular;


/* COL */


/* HSL */
$color1: hsla(0%, 2%, 19%, 1);
$color2: hsla(120%, 1%, 31%, 1);
$color3: hsla(0%, 1%, 75%, 1);
$back: hsla(0%, 0%, 4%, 1);


