/* @font-face {
    font-family: Andalus;
    src:url("/fonts/Andalus.ttf");
};


@font-face {
    font-family: Goth2;
    src:url("/fonts/CloisterBlack.ttf");
};
 */
@font-face {
  font-family: 'cloister_black';
  src: url("../fonts/cloisterblack-webfont.eot");
  src: url("../fonts/cloisterblack-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cloisterblack-webfont.woff2") format("woff2"), url("../fonts/cloisterblack-webfont.woff") format("woff"), url("../fonts/cloisterblack-webfont.ttf") format("truetype"), url("../fonts/cloisterblack-webfont.svg#cloister_blacklight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andalus';
  src: url("../fonts/andalus-webfont.eot");
  src: url("../fonts/andalus-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/andalus-webfont.woff2") format("woff2"), url("../fonts/andalus-webfont.woff") format("woff"), url("../fonts/andalus-webfont.ttf") format("truetype"), url("../fonts/andalus-webfont.svg#andalusregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* COL */
/* HSL */
.container {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding-top: 4vh;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #4e504e;
}

.logo {
  width: 15vh;
  -webkit-filter: invert(32%) sepia(4%) saturate(75%) hue-rotate(314deg) brightness(85%) contrast(85%);
          filter: invert(32%) sepia(4%) saturate(75%) hue-rotate(314deg) brightness(85%) contrast(85%);
}

.nav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__nav a {
  text-decoration: none;
  color: #c0bfbf;
}

.nav__nav a:hover {
  color: white;
}

.nav__nav li {
  list-style: none;
  padding-left: 2rem;
  text-decoration: none;
  font-family: andalus;
}

.nav__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #c0bfbf;
  font-family: andalus;
  height: 80vh;
}

.nav__center__main2 h1 {
  font-family: cloister_black;
  font-size: 4rem;
  font-weight: 100;
  color: #4e504e;
}

.nav__center__main1 h2 {
  font-family: cloister_black;
  font-size: 3rem;
  font-weight: 100;
  color: #4e504e;
}

.nav__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #c0bfbf;
  font-family: andalus;
  text-align: center;
  height: 4vh;
  padding-bottom: 2vh;
}

.nav__bottom h2 {
  font-family: andalus;
  font-size: 1.5rem;
  font-weight: 100;
  color: #c0bfbf;
}

@media screen and (max-width: 768px) {
  .nav {
    padding-left: 1vh;
    padding-right: 1vh;
  }
  .nav__nav li {
    font-size: 1.2rem;
    padding-left: 0.8rem;
  }
  .nav__center__main2 h1 {
    font-size: 2.5rem;
  }
  .nav__center__main1 h2 {
    font-size: 1rem;
  }
  .nav__bottom h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1296px) {
  .container {
    width: 100vw;
    margin: 0;
  }
  .nav__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* @font-face {
    font-family: Andalus;
    src:url("/fonts/Andalus.ttf");
};


@font-face {
    font-family: Goth2;
    src:url("/fonts/CloisterBlack.ttf");
};
 */
@font-face {
  font-family: 'cloister_black';
  src: url("../fonts/cloisterblack-webfont.eot");
  src: url("../fonts/cloisterblack-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cloisterblack-webfont.woff2") format("woff2"), url("../fonts/cloisterblack-webfont.woff") format("woff"), url("../fonts/cloisterblack-webfont.ttf") format("truetype"), url("../fonts/cloisterblack-webfont.svg#cloister_blacklight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andalus';
  src: url("../fonts/andalus-webfont.eot");
  src: url("../fonts/andalus-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/andalus-webfont.woff2") format("woff2"), url("../fonts/andalus-webfont.woff") format("woff"), url("../fonts/andalus-webfont.ttf") format("truetype"), url("../fonts/andalus-webfont.svg#andalusregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* COL */
/* HSL */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c0bfbf;
  font-family: andalus;
  overflow: auto;
  color: #4e504e;
  height: 70vh;
}

.about .about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  padding-right: 3vh;
  padding-top: 5vh;
}

.about .about__left h1 {
  text-align: center;
  padding-top: 5vh;
  font-size: 2.5rem;
}

.about .about__left p {
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

.about .about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  padding-top: 5vh;
  padding-left: 3vh;
}

.about h1 {
  text-align: center;
  padding-top: 5vh;
  font-size: 2.5rem;
}

.about p {
  text-align: center;
  font-size: 1.4rem;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  padding-top: 4vh;
}

.bottom h1 {
  font-family: cloister_black;
  font-weight: 100;
  color: #c0bfbf;
  font-size: 5rem;
  color: #c0bfbf;
}

@media screen and (max-width: 1296px) {
  .about {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .about .about__left p {
    font-size: 1rem;
  }
  .about .about__right p {
    text-align: center;
    font-size: 1.2rem;
  }
  .about__wrapper .bottom h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    position: fixed;
    background-color: #0a0a0a;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: auto;
    padding-top: 3vh;
  }
  .about .about__left {
    width: 94vw;
    padding-right: 0;
    text-align: center;
  }
  .about .about__left p {
    font-size: 1rem;
  }
  .about .about__right {
    width: 94vw;
    padding-left: 0;
    padding-top: 0;
  }
  .about .about__right h1 {
    padding-top: 0;
  }
  .about .about__right p {
    font-size: 1.2rem;
  }
  .about .bottom {
    padding-top: 0;
  }
  .about .bottom h1 {
    font-size: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */